<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Booklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Add Book</h1>
		<form th:object="${book}" th:action="@{save}" action="#" method="post">
		  	<p>Author<input type = "text" id ="aut" th:field="*{author}"/></p>
		  	<p>Title<input type = "text" id ="tit" th:field="*{title}"/></p>
		  	<p>ISBN<input type = "text" id ="isb" th:field="*{isbn}"/></p>
		  	<p>Year<input type = "text" id ="yea" th:field="*{year}"/></p>
		  	<p>Price<input type = "text" id ="pri" th:field="*{price}"/></p>
		  	<input type="submit" value="Save"></input>
		</form>
</body>
</html>