<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BookList</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type = "text/css" rel = "stylesheet" href = "webjars/bootstrap/3.3.6/css/bootstrap.min.css" /> 
</head>
<body>
	<h1>Books</h1>
	<div class = "container">
    <table class = "table table-striped" >
    	<thead>
			<tr>
			    <th>Author</th>
			    <th>Title</th>
			    <th>ISBN</th>
			    <th>Year</th>
			    <th>Category</th>
			</tr>
		</thead>
		<tr th:each = "abook:${books}">
			<td th:text = "${abook.author} + ' ' "></td>
			<td th:text = "${abook.title} + ' ' "></td>
			<td th:text = "${abook.isbn} + ' ' "></td>
			<td th:text = "${abook.year}"></td>
			<td th:text = "${abook.category.name}"></td>
			 <td> <a class = "btn btn-danger" th:href="@{/delete/{id}(id=${abook.id})}">Delete</a></td>
		</tr>  
	</table>
	<a class = "btn btn-success" href="/add">Add Book</a> 
	</div>
	<script src = "webjars/jquery/1.9.1/jquery.min.js"></script>
	<script src = "webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>